* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    /* font-display: swap; */
}
a,li{
    list-style: none;
    text-decoration: none;
}

.homepage {
    background: linear-gradient(20deg, #e0cef1, #d1e3d1, #aeaedd);
}
p{
    cursor: pointer;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(22, 9, 139);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #0c0170;
}

/******************************************  Header  *************************************************/
header {
    position: fixed;
}


.left {
    margin: 16px auto;
    width: 35%;
    display: flex;
    border: 2px solid rgb(64, 64, 102);
    border-radius: 15px;

}

.nav-search {
    display: none;
    margin: 6px;
    width: 65%;
    height: 30px;
    display: flex;
    border: 2px solid rgb(0, 0, 94);
    border-radius: 6px;
}

.input,
.nav-input {
    /* position: relative; */
    width: 90%;
    border: transparent;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    background: white;
    padding: 8px 10px;
    color: #251e44;
    font-size: 18px;
}

.clear1,
.clear {
    background-color: #fff;
    position: relative;
    color: #251e44;
    width: 11%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#btnactive {
    width: 11%;
    background-color: #251e44;
    color: #ffffff;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btns ul {
    transition: 2s;
    display: flex;
    gap: 2em;
}

.nav-btns ul li ,.nav-btns ul li a{
    color: #fff;
    list-style: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

.nav-btns ul li:hover {
    background-color: rgba(174, 174, 238, 0.719);
}

.nav-btns ul ul {
    position: absolute;
    display: flex;
    flex-flow: column;
    padding: 6px;
    background-color: rgba(8, 8, 128, 0.925);
    z-index: 1;
    box-shadow: 1px 1px 4px rgba(41, 39, 39, 0.712);
    display: none;
}

.nav-btns li:hover ul {
    display: block;
}

.nav-btns ul ul li {
    color: #ffffff;
    border-bottom: 2px solid #fff;
    text-align: center;
    transition: .1s;
}

.nav-btns ul ul li:hover {
    background-color: rgb(3, 3, 75);
}

/******************** header Bottom *****************************/
.navbar {
    transition: .6s ease-out;
    background-color: rgb(1, 1, 71);
    width: 100vw;
    height: 65px;
    padding: 16px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ;
}

.nav_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-search {
    display: none;
}

.alogo {
    width: 195px;
    height: 86px;
}

.navlogo {
    padding: 6px;
    width: 100%;
    margin: 2px 36px;
}

.hamburger {
    display: none;
    width: 60px;
    height: 50px;
    padding: 4px;
    cursor: pointer;
}

.line1,.line2,.line3 {
    width: 30px;
    height: 4px;
    margin: 7px;
    background-color: rgb(230, 231, 255);
    transition: .1s ease-in-out;
}

.line1.active{
    transform: rotate(45deg) translate(7px,8px);
    /* transition: 1s ease-in-out; */
}
.line3.active{
    transform: rotate(-45deg);
    /* transition: 1s ease-in-out; */
}
.line2.active{
    display: none;
    /* transition: 1s ease-in; */
}

.navbar.active {
    height: 340px;
    transition: 1s ease-in-out;
}

.grades ul {
    transition: .6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    padding: 40px;
}

.board {
    text-decoration: none;
    padding: 10px;
    float: right;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .1s;
}

.board:hover {
    background-color: rgba(1, 1, 168, 0.836);
}

.grades ul li,
.grades ul li a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.grades ul ul {
    position: absolute;
    display: block;
    flex-flow: column;
    padding: 6px;
    background-color: rgba(0, 0, 121, 0.897);
    z-index: 99;
    box-shadow: 1px 1px 4px rgba(41, 39, 39, 0.712);
    visibility: hidden;
    opacity: 0;
    transition: .8s;
}

.grades li:hover ul {
    visibility: visible;
    opacity: 1;
}

.grades ul ul li,
.grades ul ul li a {
    text-decoration: none;
    padding: 10px 2px;
    color: #ffffff;
    /* border-bottom: 2px solid #fff; */
    text-align: center;
    transition: .05s;
}

.grades ul ul li a:hover {
    /* background-color:rgb(24, 24, 145); */
    color: #8c8fad;
    border-bottom: 2px solid #5a5c74;
}

/******************************************************** Homepage *******************************************************************/
.main-container {
    /* overflow-y: hidden; */
    /* width: 100vw; */
    /* height: 656px; */
    /* background: linear-gradient(44deg, rgb(126 99 155), rgb(165 162 181), rgb(191 199 241)); */
    background: linear-gradient(234deg, rgb(0 90 255), rgb(79 68 139), rgb(59 72 139));
    /* overflow: hidden; */
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 120px 10px 10px 10px;

    /* position: absolute; */
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    background: -o-linear-gradient(240deg, #222222 15%, #373737 70%, #3c4859 94%);
    /* background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%); */

}

.mainlogo {
    display: none;
}

.intro {
    margin: 20px;
    padding: 25px 12px;
    width: 45%;
}

h2 {
    font-size: 64px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(0, 5, 58);
    padding: 12px 8px;
}

.intro p {
    color: rgb(33, 5, 70);
    text-shadow: #fff 2px 1px 4px;
    padding: 1px;
    font-size: 22px;
    text-align: justify;
}

.image {
    margin: 10px 32px 8px -10px;
    width: 45%;
    height: 500px;
}

.main-container a {
    display: none;
}

@keyframes list {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*************************Books********************************/
.prep {
    width: 100vw;
    display: block;
    justify-content: center;
    justify-content: center;
}

.left {
    border-radius: 9px;
}

h3 {
    margin: 10px;
    padding: 8px;
    font-size: 32px;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    align-self: center;
    border: 2px solid #161515;
    border-radius: 20px;
}

tbody tr:first-child {
    font-weight: bold;
    font-size: 20px;
}

tbody tr td,
tbody tr a {
    color: black;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    font-size: 18px;
}

@media(max-width:1256px) {
    .grades ul {
        gap: 2em;
    }

    .board {
        font-size: 16px;
    }
}

@media(max-width:1070px) {
    .navbar {
        padding: 8px 10px;
    }

    navlogo {
        width: 182px;
        height: 182px;
    }

    .grades ul li a {
        font-size: 17px;
    }

    .board {
        font-size: 15px;
    }

    .left {
        width: 40%;
    }

    .intro {
        width: 50%
    }

    .image {
        width: 42%;
        height: 420px;
    }
}

@media(max-width:965px) {
    .board {
        display: none;
    }

    .intro {
        width: 56%;
    }

    .intro p {
        font-size: 20px;
    }

    .image {
        width: 38%;
        height: 350px;
        margin-top: 22px;
    }
}

@media(max-width:836px) {
    .nav-btns ul {
        gap: 1.6em;
    }

    .nav-btns ul li {
        padding: 8px;
        font-size: 16px;
    }

    .grades ul li a {
        font-size: 15px;
    }

    .left {
        width: 50%;
    }
}

@media(max-width:805px) {
    .grades ul {
        gap: 1.2em;
    }

    .grades ul ul li,
    .grades ul ul li a {
        font-size: 14px;
    }

    .main-container {
        flex-flow: column;
        height: auto;
    }

    .intro {
        margin: auto;
        width: 90%;
        padding: 20px 10px;
    }

    .intro p {
        font-size: 22px;
    }

    .image {
        width: 50%;
    }

    .left {
        width: 58%;
    }
}

@media(max-width:756px) {

    .navbar {
        width: 100vw;
        display: block;
    }

    .nav-btns ul {
        display: none;
    }

    .nav-btns.active {
        display: flex;
        animation: list 2.6s ease-in-out;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.6em;
        transition: .8s ease-in-out;
    }

    .nav-btns ul.active li,
    .nav-btns ul li a {
        transition: 2s;
        font-size: 18px;
    }

    .navlogo {
        display: none;
    }

    .nav-search {
        display: flex;
    }

    .left {
        display: none;
    }

    .hamburger {
        display: block;
        float: right;
    }


    .image {
        display: none;
    }

    .intro h2 {
        display: none;
    }

    .mainlogo {
        margin-top: -40px;
        display: block;
        width: 50%;
        height: 50%;
    }

    .main-container a {
        display: block;
        width: 175px;
        align-items: center;
        margin: 20px;
        font-size: 22px;
        text-decoration: none;
        color: white;
        background-color: rgba(6, 8, 97, 0.925);
        padding: 12px 16px;
        border-radius: 20px;
        box-shadow: 1px 2px 3px gray;
    }

    .intro p {
        font-size: 24px;
    }

    .left {
        width: 65%;
    }
}

@media(max-width:710px) {
    .left {
        width: 75%;
    }
}

@media(max-width:642px) {
    .image {
        display: none;
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .intro h2 {
        margin-bottom: 20px;
    }

    .left {
        width: 80%;
    }

    .nav-input::placeholder {
        font-size: 14px;
    }
}

@media(max-width:514px) {
    .icons p {
        font-size: 15px;
    }
}

@media(max-width:432px) {
    .intro p {
        font-size: 20px;
    }

    .left {
        width: 90%;
    }

    .nav-input::placeholder {
        font-size: 12px;
    }
}

@media(max-width:384px) {
    table {
        width: 60%;
    }

    tbody tr:first-child {
        font-size: 18px;
    }

    tbody tr td,
    tbody tr a {
        padding: 10px;
        font-size: 16px;
    }
}

@media(max-width:348px) {
    table {
        width: 55%;
    }

    tbody tr:first-child {
        font-size: 17px;
    }

    tbody tr td,
    tbody tr a {
        padding: 9px;
        font-size: 16px;
    }
}

@media(max-width:326px) {
    .intro h2 {
        font-size: 54px;
    }

    table {
        width: 50%;
    }

    tbody tr:first-child {
        font-size: 16px;
    }

    tbody tr td,
    tbody tr a {
        padding: 7px;
        font-size: 15px;
    }
}

.footer {
    position: relative;
    width: 100%;
    background: #160b27;
    min-height: 90px;
    margin-top: 10px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  